@media screen {
	/* Begin Tag Level Selctors */
	BODY {
		background-color: #333333;
		overflow: hidden;
	}

	INPUT:focus, TEXTAREA:focus, SELECT:focus, INPUT.iefocus, TEXTAREA.iefocus, SELECT.iefocus {
		background-color: #999999; 
		border: 1px solid #666666;
	}

	H1 {
		margin-top: 0px;
		color: #FFFFFF;
		font-size: 130%;
	}
	
	H2 {
		color: #FFFFFF;
		font-size: 120%;
	}
	
	H3 {
		color: #FFFFFF;
		font-size: 110%;
	}
	
	H4 {
		color: #FFFFFF;
		font-size: 105%;
	}
	
	H5 {
		color: #FFFFFF;
		font-size: 100%;
	}
	/* End Tag Level Selctors */
	
	
    #backgroundBackLayer, #backgroundFrontLayer {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        overflow: hidden;
    }

    #backgroundFrontLayer {
        background-image: url('../interfaceImages/backgroundFrontLayer.svg'); 
    }

    #backgroundBackLayer {
        background-image: url('../interfaceImages/backgroundBackLayer.svg'); 
    }

	#mainContainer {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 0;
		overflow: hidden;
	}
			
	/* Begin Content Area Selctors */
	#contentPanel {
		position: absolute;
		height: auto;
		top: 75px;
		right: 5px;
		bottom: 5px;
		left: 185px;
		z-index: 1;
	}
			
		/* this rule is skipped by IE - this is the PROPER way to draw that div! */
		#contentPanel #contentTop {
			position: absolute;
			top: 0px;
			height: 15px;
			width: auto;
			left: 0px;
			right: 0px;
		}
				
			#contentPanel #contentTop #contentTopLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 15px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelTopLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel #contentTop #contentTopLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 15px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelTopLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentTop #contentTopMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 15px;
				margin-left: 38px;
				margin-right: 42px;
				background-image: url('../interfaceImages/contentPanelTop.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel #contentTop #contentTopRightInner {
				position: absolute;
				top: 0px;
				right: 24px;
				height: 15px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelTopRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentTop #contentTopRight {
				position: absolute;
				top: 0px;
				right: 6px;
				height: 15px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelTopRight.svg');
				background-repeat: no-repeat;
			}
			
		#contentPanel #contentBody {
			position: absolute;
			top: 15px;
			bottom: 13px;
			height: auto;
			left: 0px;
			right: 0px;
		}
	
			#contentPanel #contentBody #contentBodyLeft {
				position: absolute;
				width: 19px;
				height: auto;
				left: 0px;
				top: 0px;
				bottom: 2px;
				background-image: url('../interfaceImages/contentPanelLeftThin.svg');
				background-repeat: repeat-y;
			}
								
				#contentPanel #contentBody #contentBodyLeft #leftTop {
					position: relative;
					width: 19px;
					height: 11px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftTop.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftThick {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftTrans {
					position: relative;
					width: 19px;
					height: 15px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftDouble {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftDoubleEnd {
					position: relative;
					width: 19px;
					height: 8px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
			#contentPanel #contentBody #contentArea {
				position: absolute;
				width: auto;
				height: auto;
				margin: 0px;
				top: 0px;
				bottom: 2px;
				left: 19px;
				right: 18px;
				background-image: url('../interfaceImages/contentPanelBody.svg');
			}
				
				#contentPanel #contentBody #contentArea #content {
					position: absolute;
					height: 100%;
					width: 100%;
					overflow: auto;
				}
			
			#contentPanel #contentBody #contentBodyRight {
				position: absolute;
				width: 18px;
				height: 100%;
				right: 0px;
				top: 0px;
				background-image: url('../interfaceImages/contentPanelRightThin.svg');
				background-repeat: repeat-y;
			}
		
				#contentPanel #contentBody #contentBodyRight #rightThin {
					position: relative;
					width: 18px;
					height: 20%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightThin.svg');
					background-repeat: repeat-y;
				}
				
				#contentPanel #contentBody #contentBodyRight #rightDoubleEnd {
					position: relative;
					width: 18px;
					height: 7px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightDouble {
					position: relative;
					width: 18px;
					height: 40%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightTrans {
					position: relative;
					width: 18px;
					height: 16px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightThick {
					position: relative;
					width: 18px;
					height: 32%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightBottom {
					position: relative;
					width: 18px;
					height: 13px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightBot.svg');
					background-repeat: no-repeat;
				}
	
		#contentPanel #contentBottom {
			position: absolute;
			top: auto;
			bottom: 2px;
			width: auto;
			left: 0px;
			right: 0px;
		}
		
			#contentPanel #contentBottom #contentBotLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel #contentBottom #contentBotLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentBottom #contentBotMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 13px;
				margin-left: 38px;
				margin-right: 37px;
				background-image: url('../interfaceImages/contentPanelBot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel #contentBottom #contentBotRightInner {
				position: absolute;
				top: 0px;
				right: 18px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentBottom #contentBotRight {
				position: absolute;
				top: 0px;
				right: 0px;
				height: 13px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelBotRight.svg');
				background-repeat: no-repeat;
			}
	
	/* Begin "hot" selectors - used in animations */
	#contentPanel.hot {
	}
		
		#contentPanel.hot #contentTop {
		}
				
			#contentPanel.hot #contentTop #contentTopLeft {
				background-image: url('../interfaceImages/contentPanelTopLeftHot.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel.hot #contentTop #contentTopLeftInner {
				background-image: url('../interfaceImages/contentPanelTopLeftInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentTop #contentTopMiddle {
				background-image: url('../interfaceImages/contentPanelTopHot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel.hot #contentTop #contentTopRightInner {
				background-image: url('../interfaceImages/contentPanelTopRightInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentTop #contentTopRight {
				background-image: url('../interfaceImages/contentPanelTopRightHot.svg');
				background-repeat: no-repeat;
			}
			
		#contentPanel.hot #contentBody {
		}
	
			#contentPanel.hot #contentBody #contentBodyLeft {
				background-image: url('../interfaceImages/contentPanelLeftThinHot.svg');
				background-repeat: repeat-y;
			}
			
				#contentPanel.hot #contentBody #contentBodyLeft #leftTop {
					background-image: url('../interfaceImages/contentPanelLeftTopHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftThick {
					background-image: url('../interfaceImages/contentPanelLeftThickHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftTrans {
					background-image: url('../interfaceImages/contentPanelLeftTransHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftDouble {
					background-image: url('../interfaceImages/contentPanelLeftDoubleHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftDoubleEnd {
					background-image: url('../interfaceImages/contentPanelLeftDoubleEndHot.svg');
					background-repeat: no-repeat;
				}
	
			#contentPanel.hot #contentBody #contentArea {
				background-image: url('../interfaceImages/contentPanelBodyHot.svg');
			}
			
				#contentPanel.hot #contentBody #contentArea #content {
				}
			
			#contentPanel.hot #contentBody #contentBodyRight {
				background-image: url('../interfaceImages/contentPanelRightThinHot.svg');
				background-repeat: repeat-y;
			}
		
				#contentPanel.hot #contentBody #contentBodyRight #rightThin {
					background-image: url('../interfaceImages/contentPanelRightThinHot.svg');
					background-repeat: repeat-y;
				}
				
				#contentPanel.hot #contentBody #contentBodyRight #rightDoubleEnd {
					background-image: url('../interfaceImages/contentPanelRightDoubleEndHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightDouble {
					background-image: url('../interfaceImages/contentPanelRightDoubleHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightTrans {
					background-image: url('../interfaceImages/contentPanelRightTransHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightThick {
					background-image: url('../interfaceImages/contentPanelRightThickHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightBottom {
					background-image: url('../interfaceImages/contentPanelRightBotHot.svg');
					background-repeat: no-repeat;
				}
	
		#contentPanel.hot #contentBottom {
		}
		
			#contentPanel.hot #contentBottom #contentBotLeft {
				background-image: url('../interfaceImages/contentPanelBotLeftHot.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel.hot #contentBottom #contentBotLeftInner {
				background-image: url('../interfaceImages/contentPanelBotLeftInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentBottom #contentBotMiddle {
				background-image: url('../interfaceImages/contentPanelBotHot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel.hot #contentBottom #contentBotRightInner {
				background-image: url('../interfaceImages/contentPanelBotRightInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentBottom #contentBotRight {
				background-image: url('../interfaceImages/contentPanelBotRightHot.svg');
				background-repeat: no-repeat;
			}
			
	/* End "hot" selectors - used in animations */
	/* End Content Area Selctors */
			
	/* Begin Logo Selctor */
	#logo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 145px;
		width: 169px;
		z-index: 1
	}
	
	#printLogo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 169px;
		z-index: -1;
	}
	
	#printBanner {
		position: absolute;
		font-family: var(--fonts);
		color: #333333;
		margin-top: 0px;
		font-size: 10%;
		text-align: left;
		line-height: 1em;
		top: 5px;
		left: 170px;
		height: 4em;
		width: 10em;
		z-index: -1;
	}
	
	#printLogoCover {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 620px;
		background-color: #333333;
		z-index: 0;
	}
	/* End Logo Selctors */
		
	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		position: absolute;
		height: 45px;
		width: auto;
		z-index: 2;
		margin: 0px;
		top: 5px;
		left: 185px;
		right: 5px;
	}
	/* End Selected Topic Bar Selctors */
	
	.selectedBar {
		position: absolute;
		top: 5px;
		left: 185px;
		right: 3px;
		margin: 0px;
		height: 45px;
		width: auto;
		z-index: 2;
	}
	
	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		position: absolute;
		top: 160px;
		left: 3px;
		height: auto;
		width: 176px;
	}
	
		#unSelectedBarArea MENU LI {
			height: 45px;
		}
					

	.unSelectedBar {
		position: absolute;
		top: 160px;
		left: 3px;
		height: auto;
		width: 176px;
	}
	/* End UnSelected Topic Bar Selctors */
		
	/* Begin SubMenu Selctors */
	#subMenuArea {
		position: absolute;
		float: left;
		top: 28px;
		left: 90px;
		right: 5px;
		height: 28px;
	}
			#subMenuArea MENU {
				width: 100%;
				float: left;
			}
				#subMenuArea MENU LI {
					margin: 2px 0px 0px -10px;
					float: left;
				}

	/* End SubMenu Selctors */
			
	/* Begin Topic Bar Class Selctors */
	.topicBar {
		position: relative;
	}
	
		.topicBarTop {
			position: relative;
			width: 100%;
		}
	
			.topicBarTop .topicBarTopLeft {
				position: absolute;
				height: 13px;
				width: 13px;
				left: 0px;
				top: 0px;
				background-image: url('../interfaceImages/barLeftTop.svg');
				background-repeat: no-repeat;
			}
		
			.topicBarTop .topicBarTopMiddle {
				position: relative;
				left: 0px;
				height: 2px;
				width: auto;
				margin-left: 13px;
				margin-right: 10px;
				background-color: var(--color-bar-color);
			}
		
			.topicBarTop .topicBarTopRight {
				position: absolute;
				height: 10px;
				width: 10px;
				right: 0px;
				top: 0px;
				background-image: url('../interfaceImages/barRightTop.svg');
				background-repeat: no-repeat;
			}
					
		.topicBarBody {
			position: relative;
			width: 100%;
			height: 1.5em;
		}
	
			.topicBarBody .topicBarBodyLeft {
				position: absolute;
				width: 13px;
				height: .8em;
				left: 0px;
				top: 11px;
				background-image: url('../interfaceImages/barBody.svg');
				border-left: 2px solid var(--color-bar-color);
			}
		
			.topicBarBody .topicBarBodyMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 1.5em;
				margin-left: 13px;
				margin-right: 10px;
				background-image: url('../interfaceImages/barBody.svg');
			}
	
				.topicBarBody .topicBarBodyMiddle .barText {
					position: relative;
					font-family: var(--fonts);
					font-size: 95%;
					font-weight: bold;
					color: var(--color-bar-green);
					line-height: 1.45em;
					float: left;
					padding-right: 5px;
				}			
			
				.topicBarBody .topicBarBodyMiddle .barText A:link, .topicBarBody .topicBarBodyMiddle .barText A:visited {
					color: var(--color-bar-green);
					text-decoration: none;
				}			
	
				.topicBarBody .topicBarBodyMiddle .barText>A:link {
					color: inherit;
					text-decoration: none;
				}	
							
				.topicBarBody .topicBarBodyMiddle .barText A:hover, .topicBarBody .topicBarBodyMiddle .barText A:active {
					color: #FFFFFF;
					text-decoration: none;
				}			
			
			.topicBarBody .topicBarBodyRight {
				position: absolute;
				width: 9px;
				height: .50em;
				right: 0px;
				top: 8px;
				background-image: url('../interfaceImages/barBody.svg');
				border-right: 2px solid var(--color-bar-color);
			}
				
		.topicBarBottom {
			position: relative;
			width: 100%;
		}
		
			.topicBarBottom .topicBarBottomLeft {
				position: absolute;
				left: 0px;
				top: 0px;
				height: 16px;
				width: 14px;
				background-image: url('../interfaceImages/barLeftBot.svg');
				background-repeat: no-repeat;
			}
	
			.topicBarBottom .drop {
				position: absolute;
				left: 14px;
				top: 0px;
				height: 14px;
				width: 60px;
				background-image: url('../interfaceImages/barBody.svg');
			}
			
			.topicBarBottom .dropBottom {
				position: absolute;
				left: 14px;
				top: 14px;
				height: 2px;
				width: 60px;
				background-color: var(--color-bar-color);
			}
	
			.topicBarBottom .dropTrans {
				position: absolute;
				left: 74px;
				top: 0px;
				height: 16px;
				width: 14px;
				background-image: url('../interfaceImages/barBotDropRight.svg');
				background-repeat: no-repeat;
			}
								
			.topicBarBottom .extender {
				position: relative;
				left: 0px;
				width: auto;
				height: 2px;
				margin-left: 87px;
				margin-right: 10px;
				background-color: var(--color-bar-color);
			}
		
			.topicBarBottom .topicBarBottomRight {
				position: absolute;
				width: 10px;
				height: 10px;
				right: 0px;
				top: -8px;
				background-image: url('../interfaceImages/barRightBot.svg');
				background-repeat: no-repeat;
			}
	
	/* Begin hover selectors for topicBar */		
	.topicBar:hover {
	}
	
		.topicBar:hover .topicBarTop {
		}
	
			.topicBar:hover .topicBarTop .topicBarTopLeft {
				background-image: url('../interfaceImages/barLeftTopSel.svg');
			}
		
			.topicBar:hover .topicBarTop .topicBarTopMiddle {
				background-color: var(--color-sel-bar-color);
			}
		
			.topicBar:hover .topicBarTop .topicBarTopRight {
				background-image: url('../interfaceImages/barRightTopSel.svg');
			}
					
		.topicBar:hover .topicBarBody {
		}
	
			.topicBar:hover .topicBarBody .topicBarBodyLeft {
				background-image: url('../interfaceImages/barBodySel.svg');
				border-left: 2px solid var(--color-sel-bar-color);
			}
		
			.topicBar:hover .topicBarBody .topicBarBodyMiddle {
				background-image: url('../interfaceImages/barBodySel.svg');
			}
	
				.topicBar:hover .topicBarBody .topicBarBodyMiddle .barText {
					color: #FFFFFF;
				}			
			
			.topicBar:hover .topicBarBody .topicBarBodyRight {
				background-image: url('../interfaceImages/barBodySel.svg');
				border-right: 2px solid var(--color-sel-bar-color);;
			}
				
		.topicBar:hover .topicBarBottom {
		}
		
			.topicBar:hover .topicBarBottom .topicBarBottomLeft {
				background-image: url('../interfaceImages/barLeftBotSel.svg');
			}
	
			.topicBar:hover .topicBarBottom .drop {
				background-image: url('../interfaceImages/barBodySel.svg');
			}
			
			.topicBar:hover .topicBarBottom .dropBottom {
				background-color: var(--color-sel-bar-color);
			}
	
			.topicBar:hover .topicBarBottom .dropTrans {
				background-image: url('../interfaceImages/barBotDropRightSel.svg');
			}
								
			.topicBar:hover .topicBarBottom .extender {
				background-color: var(--color-sel-bar-color);
			}
		
			.topicBar:hover .topicBarBottom .topicBarBottomRight {
				background-image: url('../interfaceImages/barRightBotSel.svg');
			}			
	/* End hover selectors for topicBar */		
	
	/* End Topic Bar Class Selctors */
	
	/* Begin SubItem Class Selectors */
	.subTopic {
		padding: 0px;
		margin: 0px;
		height: 18px;
		width: auto;
		white-space: nowrap;
		float: left;
		clear: none;
		table-layout: fixed;	
	}

	.subTopic[data-promoted="true"] {
		height: 24px;
	}

	.subTopic[data-promoted="true"] > .subTopic[data-promoted="true"] {
		margin-left: -9px;
	}

		.subTopicLeft {
			float: left;
			width: 13px;
			height: 18px;
			left: -5px;
			top: 0px;
			background-image: url('../interfaceImages/subTopicLeft.svg');
			background-repeat: no-repeat;
		}

		.subTopic[data-promoted="true"] .subTopicLeft {
			height: 24px;
			background-image: url('../interfaceImages/selSubTopicLeft.svg');
		}
	
		.subTopicBody {
			float: left;
			height: 18px;
			width: auto;
			font-family: var(--fonts);
			font-size: 70%;
			font-weight: bold;
			color: var(--color-bar-green);
			line-height: 1.45em;
			padding: 0px 0px 0px 0px;
			background-image: url('../interfaceImages/subTopicBody.svg');		
		}

		.subTopic[data-promoted="true"] .subTopicBody {
			height: 24px;
			font-size: 95%;
			background-image: url('../interfaceImages/selSubTopicBody.svg');
		}
				
		.subTopicBody A:link, .subTopicBody A:visited {
			color: var(--color-bar-green);
			text-decoration: none;
		}			
		
		.subTopicBody A:hover, .subTopicBody A:active {
			color: #FFFFFF;
			text-decoration: none;
		}		
	
		.subTopicRight {
			float: left;
			width: 13px;
			height: 18px;
			right: -5px;
			top: 0px;
			background-image: url('../interfaceImages/subTopicRight.svg');
			background-repeat: no-repeat;
		}

		.subTopic[data-promoted="true"] .subTopicRight {
			height: 24px;
			background-image: url('../interfaceImages/selSubTopicRight.svg');
		}
				
	.subTopic:hover {
	}
	
		.subTopic:hover .subTopicLeft {
			background-image: url('../interfaceImages/subTopicLeftSel.svg');
			background-repeat: no-repeat;
		}
	
		.subTopic:hover .subTopicBody {
			background-image: url('../interfaceImages/subTopicBodySel.svg');		
		}
		
		.subTopic:hover .subTopicBody A:link, .subTopic:hover .subTopicBody A:visited {
			color: var(--color-bar-green);
			text-decoration: none;
		}			
		
		.subTopic:hover .subTopicRight {
			background-image: url('../interfaceImages/subTopicRightSel.svg');
			background-repeat: no-repeat;
		}
				
	.subTopic[data-promoted="true"]:hover {
	}
	
		.subTopic[data-promoted="true"]:hover .subTopicLeft {
			background-image: url('../interfaceImages/selSubTopicLeftSel.svg');
		}
	
		.subTopic[data-promoted="true"]:hover .subTopicBody {
			background-image: url('../interfaceImages/selSubTopicBodySel.svg');	
		}
		
		.subTopic[data-promoted="true"]:hover .subTopicRight {
			background-image: url('../interfaceImages/selSubTopicRightSel.svg');
		}
	
		
	/* End SubItem Class Selectors */		
		
	.bodyText {
		font-size: 83%;
		color: #FFFFFF;
	}
	
	.photoRight {
		border: 1px solid #FFFFFF;
	}
	
	.photoLeft {
		border: 1px solid #FFFFFF;
	}
	
	.bodyText TABLE {
		color: #FFFFFF;
	}
	
	.bodyText TABLE .altRow {
		background-color: #CCCCCC;
	}
	
	.breadCrumbCurrent {
		font-family: Verdana, var(--fonts);
		font-size: 68%;
		color: #FFFFFF;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}
	
	.breadCrumbCurrent A:link, .breadCrumbCurrent A:visited {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.breadCrumbCurrent A:active, .breadCrumbCurrent A:hover {
		color: #FFFF33; /* B22222; */
		text-decoration: none;
	}
	
	.breadCrumbHist {
		font-family: Verdana, var(--fonts);
		font-size: 68%;
		color: #CCCCCC;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}
	
	.breadCrumbHist A:link, .breadCrumbHist A:visited {
		color: #CCCCCC;
		text-decoration: none;
	}
	
	.breadCrumbHist A:active, .breadCrumbHist A:hover {
		color: #FFFF33; /* B22222; */
		text-decoration: none;
	}s
	
	/* End content formatting selectors */
}