/* Begin Tag Level Selctors */
BODY {
	border : none;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

DIV {
	border : 0px none;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

HR {
	color : #333333;
}

IMG, IMG.A {
	border-spacing : 0px;
	border : 0px none;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

FORM {
	border-collapse : collapse;
	border-spacing : 0px;
	border : 0px none;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

FIELDSET {
	margin : 10px 10px 10px 10px;
	padding : 10px 10px 10px 10px;
	border : 1px solid #AAAAAA;
	width : auto;
	height : auto;
}

LEGEND {
	font-family : Roboto, arial, sans-serif;
	color : #FFFFFF; 
	font-size : 120%;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
}

LABEL {
	position : relative;
	float : left;
	width : 10em;
	height : 2em;
	text-align : right;
}

INPUT, TEXTAREA, SELECT {
	font-family : Roboto, arial, sans-serif;
	font-size : 100%;
	color : #FFFFFF;
	background-color : transparent;
	padding : 0px 0px 0px 0px;
	border-collapse : collapse;
	border : 1px solid #FFFFFF;
}

INPUT.radioButton, INPUT.checkBox {
	background-color : transparent;
	border : 0px none;
}
	
H1 {
	font-family : Roboto, arial, sans-serif;
	text-align : left;
}

H2 {
	font-family : Roboto, arial, sans-serif;
	text-align : left;
}

H3 {
	font-family : Roboto, arial, sans-serif;
	text-align : left;
}

H4 {
	font-family : Roboto, arial, sans-serif;
	text-align : left;
}

H5 {
	font-family : Roboto, arial, sans-serif;
	text-align : left;
}
/* End Tag Level Selctors */

	
/* Begin content formatting selectors */
.bodyText {
	font-family : Roboto, arial, sans-serif;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}

.bodyText A:link, .bodyText A:visited {
	color : #49EC2D;
	text-decoration : underline;
}

.bodyText A:active, .bodyText A:hover {
	color : #FFFF00;
}

.clearAll {
	clear : both;
}

.important {
  color : #FF0000;
}

.photoRight {
	position : relative;
	float : right;
	width : auto;
	height : auto;
	padding : 3px 3px 3px 3px;
	margin : 3px 3px 3px 3px;
	text-align : center;
}

.photoLeft {
	position : relative;
	float : left;
	width : auto;
	height : auto;
	border : 1px solid #FFFFFF;
	padding : 3px 3px 3px 3px;
	margin : 3px 3px 3px 3px;
	text-align : center;
}

.bodyText TABLE {
	border-collapse : collapse;
	border-spacing : 0px;
	empty-cells : show;
	table-layout : auto;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	border : 0px none;
	width : 95.25%;
	/* Begin Cute Hack to Get IE to not treat tables as font-size insulator */
	font-family : Arial, Helvetica, sans-serif;
	font-size : 100%;
	/* End Cute Hack to Get IE to not treat tables as font-size insulator */
}

.bodyText TABLE TH {
	background-color : transparent;
}

.bodyText TABLE .altRow {
	background-color : #CCCCCC;
}

/* Begin form related selectors */
.formLine {
	position : relative;
	width : auto;
	height : auto;
	clear : both;
	display : block;
	padding : .05em 0em 0em 0em;
}
	.formLine .fieldLabel {
		position : relative;
		float : left;
		width : 10em;
		height : auto;
		padding-right : .25em;
		text-align : right;
	}
	
	.formLine .fieldBox {
		position : relative;
		float : left;
		width : auto;
		height : auto;
		text-align : left;
	}
	
	.formLine .err {
		background-color : #FF1111;
	}
	
	.formLine .errMsg {
		position : relative;
		float : left;
		width : auto;
		height : auto;
		text-align : left;
		color : #FF0000;
		font-weight : bold;
		padding-left : .25em;
	}
/* End form related selectors */

/* End content formatting selectors */
