@media print {

	/* Begin Tag Level Selctors */
	BODY {
		background-color: #FFFFFF;
	}

	HR {
		color: var(--color-link-green);
	}

	FIELDSET {
		border: 1px solid #000000;
	}

	LEGEND {
		color: #000000;
	}

	INPUT,
	TEXTAREA,
	SELECT {
		border: 1px solid #000000;
	}

	H1 {
		color: #000000;
		font-size: 16pt;
	}

	H2 {
		color: #000000;
		font-size: 14pt;
	}

	H3 {
		color: #000000;
		font-size: 12pt;
	}

	H4 {
		color: #000000;
		font-size: 11pt;
	}

	H5 {
		color: #000000;
		font-size: 10pt;
	}

	/* End Tag Level Selctors */

	#mainContainer {
		position: static;
		width: auto;
		height: auto;
	}

	/* Begin Content Area Selctors */
	.contentPanel {
		position: static;
		width: auto;
		height: auto;
	}

	.contentPanel .contentTop {
		display: none;
	}

	.contentPanel .contentBody .contentBodyLeft {
		display: none;
	}

	.contentArea {
		position: static;
		width: auto;
		height: auto;
	}

	#content {
		position: absolute;
		top: 70px;
		width: auto;
		height: auto;
		clear: both;
	}

	.contentPanel .contentBody .contentBodyRight {
		display: none;
	}

	.contentPanel #contentBottom {
		display: none;
	}

	/* End Content Area Selctors */

	/* Begin Logo Selctors */
	#logo {
		position: relative;
		float: left;
		top: -20px;
		left: -20px;
		height: 160px;
		width: 169px;
		scale: .75;
	}

	#printBanner {
		position: absolute;
		top: 0px;
		left: 150px;
		width: 100%;
		font-family: var(--fonts);
		color: #000000;
		font-size: 16pt;
		font-weight: bold;
	}

	#printBanner .printTitle {
		font-size: 14pt;
	}

	#printLogoCover {
		display: none;
	}

	/* End Logo Selctors */

	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		display: none;
	}

	.unSelectedBar {
		display: none;
	}

	/* End UnSelected Topic Bar Selctors */

	/* Begin SubMenu Selctors */
	#subMenu {
		display: none;
	}

	/* End SubMenu Selctors */

	/* Begin Topic Bar Class Selctors */
	TOPIC-BAR {
		display: none;
	}

	/* End Topic Bar Class Selctors */

	/* Begin SubTopic Class Selectors */
	SUB-TOPIC {
		display: none;
	}

	/* End SubTopic Class Selectors */

	/* Begin content formatting selectors */
	.bodyText {
		font-size: 10pt;
		color: #000000;
	}

	.photoRight {
		border: 1px solid #000000;
	}

	.photoLeft {
		border: 1px solid #000000;
	}

	.bodyText TABLE {
		color: #000000;
	}

	.bodyText TABLE TH {
		color: #000000;
	}

	.breadCrumbCurrent {
		display: none;
		visibility: hidden;
	}

	.breadCrumbHist {
		display: none;
	}

	/* End content formatting selectors */

}