@media screen {

	/* Begin Tag Level Selctors */
	BODY {
		background-color: #333333;
		overflow: hidden;
	}

	INPUT:focus,
	TEXTAREA:focus,
	SELECT:focus,
	INPUT.iefocus {
		background-color: #999999;
		border: 1px solid #666666;
	}

	H1 {
		margin-top: 0px;
		color: #FFFFFF;
		font-size: 130%;
	}

	H2 {
		color: #FFFFFF;
		font-size: 120%;
	}

	H3 {
		color: #FFFFFF;
		font-size: 110%;
	}

	H4 {
		color: #FFFFFF;
		font-size: 105%;
	}

	H5 {
		color: #FFFFFF;
		font-size: 100%;
	}

	/* End Tag Level Selctors */
	#backgroundBackLayer,
	#backgroundFrontLayer {
		position: absolute;
		/* height: 100%;
		width: 100%; */
		top: 0px;
		right: 0px; 
		bottom: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 0;
		overflow: hidden;
	}

	#backgroundBackLayer.overSize,
	#backgroundFrontLayer.overSize {
		height: 130%;
		width: 130%;
		left: -15px;
		top: -15px;
	}

	#backgroundFrontLayer {
		background-image: url('../interfaceImages/backgroundFrontLayer.svg');
	}

	#backgroundBackLayer {
		background-image: url('../interfaceImages/backgroundBackLayer.svg');
	}


	#mainContainer {
		position: absolute;
		top: 0px;
		right: 0px; 
		bottom: 0px;
		left: 0px;
		height: auto;
		width: auto;
		z-index: 1;
		overflow: hidden;
	}

	#loader {
		position: absolute;
		background-color: #333333;
		opacity: .75;
		top: 0px;
		right: 0px; 
		bottom: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		z-index: 5;
		overflow: hidden;
		animation-duration: .5s;
		animation-timing-function: linear;
  		animation-name: fadeIn;
	}
	@keyframes fadeIn {
		0% {
		  	opacity: 0;
		}
		100% {
			opacity: .75;
		}
	}

	.loaderText {
		position: absolute;
		font-size: 250%;
		font-family: var(--fonts);
		font-style: italic;
		color: var(--color-link-hover);
		border: 1px solid var(--color-link-hover);
		z-index: 10;
		padding: 10px;
		background-color: #666666;
		animation-duration: 1.50s;
		animation-timing-function: linear;
  		animation-name: crossClip;
		animation-iteration-count: infinite;
	}
	@keyframes crossClip {
		0% {
		  	clip: rect(auto, 0px, auto, -80px);
		}
		50% {
			clip: rect(auto, 200px, auto, 120px);
	  	}	
		100% {
			clip: rect(auto, 400px, auto, 320px);
		}
	}

	/* Begin Content Area Selctors */
	#contentPanel {
		position: absolute;
		z-index: 2;
	}

	/* this rule is skipped by IE - this is the PROPER way to draw that div! */
	#contentPanel .contentTop {
		position: absolute;
		top: 0px;
		height: 15px;
		width: auto;
		left: 0px;
		right: 0px;
	}

	#contentPanel .contentTop .contentTopLeft {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 15px;
		width: 19px;
		background-image: url('../interfaceImages/contentPanelTopLeft.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentTop .contentTopLeftInner {
		position: absolute;
		top: 0px;
		left: 19px;
		height: 15px;
		width: 19px;
		background-image: url('../interfaceImages/contentPanelTopLeftInner.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentTop .contentTopMiddle {
		position: relative;
		left: 0px;
		width: auto;
		height: 15px;
		margin-left: 38px;
		margin-right: 42px;
		background-image: url('../interfaceImages/contentPanelTop.svg');
		background-repeat: repeat-x;
	}

	#contentPanel .contentTop .contentTopRightInner {
		position: absolute;
		top: 0px;
		right: 24px;
		height: 15px;
		width: 18px;
		background-image: url('../interfaceImages/contentPanelTopRightInner.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentTop .contentTopRight {
		position: absolute;
		top: 0px;
		right: 6px;
		height: 15px;
		width: 18px;
		background-image: url('../interfaceImages/contentPanelTopRight.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBody {
		position: absolute;
		top: 12px;
		left: 0px;
		right: 0px;
		bottom: 13px;
	}

	#contentPanel .contentBody .contentBodyLeft {
		position: absolute;
		width: 19px;
		height: auto;
		left: 0px;
		top: 0px;
		bottom: 2px;
		background-image: url('../interfaceImages/contentPanelLeftThin.svg');
		background-repeat: repeat-y;
	}

	#contentPanel .contentBody .contentBodyLeft .leftTop {
		position: relative;
		width: 19px;
		height: 11px;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelLeftTop.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBody .contentBodyLeft .leftThick {
		position: relative;
		width: 19px;
		height: 33%;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelLeftThick.svg');
		background-repeat: repeat-y;
	}

	#contentPanel .contentBody .contentBodyLeft .leftTrans {
		position: relative;
		width: 19px;
		height: 15px;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelLeftTrans.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBody .contentBodyLeft .leftDouble {
		position: relative;
		width: 19px;
		height: 33%;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelLeftDouble.svg');
		background-repeat: repeat-y;
	}

	#contentPanel .contentBody .contentBodyLeft .leftDoubleEnd {
		position: relative;
		width: 19px;
		height: 8px;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelLeftDoubleEnd.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBody .contentArea {
		position: absolute;
		width: auto;
		height: auto;
		margin: 0px;
		top: 0px;
		bottom: 2px;
		left: 19px;
		right: 18px;
		background-image: url('../interfaceImages/contentPanelBody.svg');
	}

	#contentPanel .contentBody .contentArea #content {
		position: absolute;
		top: 0px;
		right: 0px; 
		bottom: 0px;
		left: 0px;
		height: auto;
		width: auto;
		overflow: auto;
		box-shadow: inset 0 0 5px var(--content-panel-scroll-base);
		scrollbar-color: var(--content-panel-scroll-bar) var(--content-panel-scroll-base);
		scrollbar-width: thin;
	}

	#contentPanel .contentBody .contentBodyRight {
		position: absolute;
		width: 18px;
		bottom: 0px;
		right: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelRightThin.svg');
		background-repeat: repeat-y;
	}

	#contentPanel .contentBody .contentBodyRight .rightThin {
		position: relative;
		width: 18px;
		height: 20%;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelRightThin.svg');
		background-repeat: repeat-y;
	}

	#contentPanel .contentBody .contentBodyRight .rightDoubleEnd {
		position: relative;
		width: 18px;
		height: 7px;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelRightDoubleEnd.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBody .contentBodyRight .rightDouble {
		position: relative;
		width: 18px;
		height: 40%;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelRightDouble.svg');
		background-repeat: repeat-y;
	}

	#contentPanel .contentBody .contentBodyRight .rightTrans {
		position: relative;
		width: 18px;
		height: 16px;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelRightTrans.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBody .contentBodyRight .rightThick {
		position: relative;
		width: 18px;
		height: 32%;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelRightThick.svg');
		background-repeat: repeat-y;
	}

	#contentPanel .contentBody .contentBodyRight .rightBottom {
		position: relative;
		width: 18px;
		height: 13px;
		left: 0px;
		top: 0px;
		background-image: url('../interfaceImages/contentPanelRightBot.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBottom {
		position: absolute;
		bottom: 2px;
		left: 0px;
		right: 0px;
	}

	#contentPanel .contentBottom .contentBotLeft {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 13px;
		width: 19px;
		background-image: url('../interfaceImages/contentPanelBotLeft.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBottom .contentBotLeftInner {
		position: absolute;
		top: 0px;
		left: 19px;
		height: 13px;
		width: 19px;
		background-image: url('../interfaceImages/contentPanelBotLeftInner.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBottom .contentBotMiddle {
		position: relative;
		left: 0px;
		width: auto;
		height: 13px;
		margin-left: 38px;
		margin-right: 37px;
		background-image: url('../interfaceImages/contentPanelBot.svg');
		background-repeat: repeat-x;
	}

	#contentPanel .contentBottom .contentBotRightInner {
		position: absolute;
		top: 0px;
		right: 18px;
		height: 13px;
		width: 19px;
		background-image: url('../interfaceImages/contentPanelBotRightInner.svg');
		background-repeat: no-repeat;
	}

	#contentPanel .contentBottom .contentBotRight {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 13px;
		width: 18px;
		background-image: url('../interfaceImages/contentPanelBotRight.svg');
		background-repeat: no-repeat;
	}

	/* End Content Area Selctors */

	/* Begin Logo Selctor */
	#logo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 145px;
		width: 169px;
		z-index: 1
	}

	#printBanner {
		position: absolute;
		font-family: var(--fonts);
		color: #333333;
		margin-top: 0px;
		font-size: 10%;
		text-align: left;
		line-height: 1em;
		top: 5px;
		left: 170px;
		height: 4em;
		width: 10em;
		z-index: -1;
	}

	#printLogoCover {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 620px;
		background-color: #333333;
		z-index: 0;
	}

	/* End Logo Selctors */

	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		position: absolute;
		width: auto;
		z-index: 3;
		margin: 0px;
	}

	#selectedBar TOPIC-BAR .barTextSlot {
		float: left;
	}

	#selectedBar TOPIC-BAR .selSubTopics {
		float: left;
	}

	#selectedBar TOPIC-BAR .selSubTopics SUB-TOPIC {
		float: left;
		position: relative;
	}

	#selectedBar TOPIC-BAR .selSubTopics SUB-TOPIC+SUB-TOPIC {
		margin: 0px 0px 0px -9px;
	}

	#selectedBar .subTopics MENU {
		float: left;
		padding: 0px 55px 0px 0px;
		margin: 2px 0px 0px 0px;
	}

	#selectedBar .subTopics MENU LI {
		float: left;
		position: relative;
		height: 18px;
	}

	#selectedBar .subTopics MENU LI+LI {
		margin: 0px 0px 0px -7px;
	}

	#selectedBar .subTopics MENU LI SUB-TOPIC {
		position: relative;
		float: left;
	}

	#selectedBar .subTopics MENU LI SUB-TOPIC.staged {
		opacity: 0;
	}

	/* End Selected Topic Bar Selctors */

	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		position: absolute;
	}

	#unSelectedBarArea MENU LI {
		height: 45px;
	}

	/* End UnSelected Topic Bar Selctors */


	.bodyText {
		color: #FFFFFF;
	}

	.photoRight {
		border: 1px solid #FFFFFF;
	}

	.photoLeft {
		border: 1px solid #FFFFFF;
	}

	.bodyText TABLE {
		color: #FFFFFF;
	}

	.bodyText TABLE .altRow {
		background-color: #CCCCCC;
	}

	.bodyText .breadCrumbCurrent {
		color: #FFFFFF;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}

	.bodyText .breadCrumbCurrent A:link,
	.bodyText .breadCrumbCurrent A:visited {
		color: #FFFFFF;
		text-decoration: none;
	}

	.bodyText .breadCrumbCurrent A:active,
	.bodyText .breadCrumbCurrent A:hover {
		color: #FFFF33;
		/* B22222; */
		text-decoration: none;
	}

	.bodyText .breadCrumbHist {
		color: #CCCCCC;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}

	.bodyText .breadCrumbHist A:link,
	.bodyText .breadCrumbHist A:visited {
		color: #CCCCCC;
		text-decoration: none;
	}

	.bodyText .breadCrumbHist A:active,
	.bodyText .breadCrumbHist A:hover {
		color: #FFFF33;
		/* B22222; */
		text-decoration: none;
	}

	/* End content formatting selectors */
}

/* Mobile Devices */
@media only screen and (min-device-width: 390px) and (max-device-width: 699px) {
	#backgroundBackLayer,
	#backgroundFrontLayer {
		position: fixed;
		height: 100%;
		width: 100%;
		top: unset;
		right: unset; 
		bottom: unset;
		left: unset;
	}
	
	#logo {
		height: 123px;
		width: 144px;
		top: -10px;
		left: -28px;	
	}
	
	#logo IMG {
		scale: .85;	
	}

	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		height: 45px;
		top: 135px;
		left: 0px;
		right: 5px;
		z-index: 3;
	}

	#selectedBar TOPIC-BAR .barTextSlot {
		font-size: 90%;
	}

	#selectedBar TOPIC-BAR .selSubTopics SUB-TOPIC {
		line-height: 24px;
		font-size: 78%;
	}

	#selectedBar .subTopics MENU LI {
		margin: 0px 0px 1px 0px
	}

	#selectedBar .subTopics MENU LI+LI {
		margin: 0px 0px 1px -7px
	}

	#selectedBar MENU LI SUB-TOPIC {
		font-size: 90%;
	}

	#selectedBar MENU LI SUB-TOPIC {
		height: fit-content;
	}

	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		top: 3px;
		left: 130px;
		height: fit-content;
		right: 0px;
	}

	#unSelectedBarArea MENU LI {
		float: left;
		position: relative;
		height: 43px;
		width: 130px;
		margin: 0px 3px 0px 0px;
	}

	#unSelectedBarArea MENU LI TOPIC-BAR {
		float: left;
		position: relative;
		height: 43px;
		width: fit-content;
		min-width: 130px;
		margin: 0px 5px 5px 0px;
	}

	#unSelectedBarArea MENU LI TOPIC-BAR .barTextSlot {
		font-size: 90%;
	}

	#contentPanel {
		top: 224px;
		right: 5px;
		bottom: 0px;
		left: 5px;
	}

}


@media only screen and (min-device-width: 120px) and (max-device-width: 390px) {
	#backgroundBackLayer,
	#backgroundFrontLayer {
		position: fixed;
		height: 100%;
		width: 100%;
		top: unset;
		right: unset; 
		bottom: unset;
		left: unset;
	}
	BODY {
		overflow: visible;
	}
	
	#logo {
		height: 123px;
		width: 144px;
		top: -10px;
		left: -28px;	
	}
	
	#logo IMG {
		scale: .85;	
	}

	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		height: 45px;
		top: 135px;
		left: 0px;
		right: 5px;
		z-index: 3;
	}

	#selectedBar TOPIC-BAR .barTextSlot {
		font-size: 85%;
	}

	#selectedBar TOPIC-BAR .selSubTopics SUB-TOPIC {
		line-height: 24px;
		font-size: 64%;
	}

	#selectedBar .subTopics MENU LI {
		margin: 0px 0px 1px 0px
	}

	#selectedBar .subTopics MENU LI+LI {
		margin: 0px 0px 1px -7px
	}

	#selectedBar MENU LI SUB-TOPIC {
		font-size: 90%;
	}

	#selectedBar MENU LI SUB-TOPIC {
		height: fit-content;
		font-size: 80%;
	}

	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		top: 3px;
		left: 130px;
		height: fit-content;
		right: 0px;
	}

	#unSelectedBarArea MENU LI {
		float: left;
		position: relative;
		height: 43px;
		width: 110px;
		margin: 0px 3px 0px 0px;
	}

	#unSelectedBarArea MENU LI TOPIC-BAR {
		float: left;
		position: relative;
		height: 43px;
		width: fit-content;
		min-width: 110px;
		margin: 0px 5px 5px 0px;
	}

	#unSelectedBarArea MENU LI TOPIC-BAR .barTextSlot {
		font-size: 78%;
	}

	#contentPanel {
		top: 224px;
		right: 5px;
		bottom: 0px;
		left: 5px;
	}

}

/* Landscape phones */
@media only screen and (min-device-width: 700px) and (max-device-height: 450px) {
	#logo {
		height: 131px;
		width: 152px;
		top: -6px;
		left: 0px;	
	}
	
	#logo IMG {
		scale: .90;	
	}

	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		height: 45px;
		top: 5px;
		left: 185px;
		right: 5px;
	}

	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		top: 130px;
		left: 3px;
		bottom: 90px;
		width: 176px;
	}

	#unSelectedBarArea MENU LI {
		height: fit-content;
	}

	#unSelectedBarArea MENU LI TOPIC-BAR {
		height: 42px;
	}

	/* Begin Content Area Selctors */
	#contentPanel {
		top: 75px;
		right: 5px;
		bottom: 0px;
		left: 185px;
	}
}

/* Other Devices */
@media only screen and (min-device-width: 700px) and (min-device-height: 451px) {

	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		height: 45px;
		top: 5px;
		left: 185px;
		right: 5px;
	}

	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		top: 160px;
		left: 3px;
		bottom: 90px;
		width: 176px;
	}

	/* Begin Content Area Selctors */
	#contentPanel {
		top: 75px;
		right: 5px;
		bottom: 5px;
		left: 185px;
	}

}