@media screen {
	/* Begin Tag Level Selctors */
	BODY {
		background-color: #333333;
		overflow: hidden;
	}

	INPUT:focus, TEXTAREA:focus, SELECT:focus, INPUT.iefocus {
		background-color: #999999; 
		border: 1px solid #666666;
	}

	H1 {
		margin-top: 0px;
		color: #FFFFFF;
		font-size: 130%;
	}
	
	H2 {
		color: #FFFFFF;
		font-size: 120%;
	}
	
	H3 {
		color: #FFFFFF;
		font-size: 110%;
	}
	
	H4 {
		color: #FFFFFF;
		font-size: 105%;
	}
	
	H5 {
		color: #FFFFFF;
		font-size: 100%;
	}
	/* End Tag Level Selctors */
	
	#stageCover {
		position: absolute;
        height: 100%;
        width: 100%;
        z-index: 50;
        overflow: hidden;
		left: 0px;
		top: 0px;
		background-color: #333333;
	}
	
    #backgroundBackLayer, #backgroundFrontLayer {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        overflow: hidden;
		left: 0px;
		top: 0px;
    }

    #backgroundFrontLayer {
        background-image: url('../interfaceImages/backgroundFrontLayer.svg'); 
    }

    #backgroundBackLayer {
        background-image: url('../interfaceImages/backgroundBackLayer.svg'); 
    }

	#mainContainer {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		overflow: hidden;
	}
			
	/* Begin Content Area Selctors */
	#contentPanel {
		position: absolute;
		height: auto;
		top: 75px;
		right: 5px;
		bottom: 5px;
		left: 185px;
		z-index: 2;
	}
			
		/* this rule is skipped by IE - this is the PROPER way to draw that div! */
		#contentPanel .contentTop {
			position: absolute;
			top: 0px;
			height: 15px;
			width: auto;
			left: 0px;
			right: 0px;
		}
				
			#contentPanel .contentTop .contentTopLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 15px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelTopLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel .contentTop .contentTopLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 15px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelTopLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel .contentTop .contentTopMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 15px;
				margin-left: 38px;
				margin-right: 42px;
				background-image: url('../interfaceImages/contentPanelTop.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel .contentTop .contentTopRightInner {
				position: absolute;
				top: 0px;
				right: 24px;
				height: 15px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelTopRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel .contentTop .contentTopRight {
				position: absolute;
				top: 0px;
				right: 6px;
				height: 15px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelTopRight.svg');
				background-repeat: no-repeat;
			}
			
		#contentPanel .contentBody {
			position: absolute;
			top: 15px;
			bottom: 13px;
			height: auto;
			left: 0px;
			right: 0px;
		}
	
			#contentPanel .contentBody .contentBodyLeft {
				position: absolute;
				width: 19px;
				height: auto;
				left: 0px;
				top: 0px;
				bottom: 2px;
				background-image: url('../interfaceImages/contentPanelLeftThin.svg');
				background-repeat: repeat-y;
			}
								
				#contentPanel .contentBody .contentBodyLeft .leftTop {
					position: relative;
					width: 19px;
					height: 11px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftTop.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel .contentBody .contentBodyLeft .leftThick {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel .contentBody .contentBodyLeft .leftTrans {
					position: relative;
					width: 19px;
					height: 15px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel .contentBody .contentBodyLeft .leftDouble {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel .contentBody .contentBodyLeft .leftDoubleEnd {
					position: relative;
					width: 19px;
					height: 8px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
			#contentPanel .contentBody .contentArea {
				position: absolute;
				width: auto;
				height: auto;
				margin: 0px;
				top: 0px;
				bottom: 2px;
				left: 19px;
				right: 18px;
				background-image: url('../interfaceImages/contentPanelBody.svg');
			}
				
				#contentPanel .contentBody .contentArea #content {
					position: absolute;
					height: 100%;
					width: 100%;
					overflow: auto;
					box-shadow: inset 0 0 5px var(--content-panel-scroll-base); 
  					scrollbar-color: var(--content-panel-scroll-bar) var(--content-panel-scroll-base);
					scrollbar-width: thin;
				}
			
			#contentPanel .contentBody .contentBodyRight {
				position: absolute;
				width: 18px;
				height: 100%;
				right: 0px;
				top: 0px;
				background-image: url('../interfaceImages/contentPanelRightThin.svg');
				background-repeat: repeat-y;
			}
		
				#contentPanel .contentBody .contentBodyRight .rightThin {
					position: relative;
					width: 18px;
					height: 20%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightThin.svg');
					background-repeat: repeat-y;
				}
				
				#contentPanel .contentBody .contentBodyRight .rightDoubleEnd {
					position: relative;
					width: 18px;
					height: 7px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel .contentBody .contentBodyRight .rightDouble {
					position: relative;
					width: 18px;
					height: 40%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel .contentBody .contentBodyRight .rightTrans {
					position: relative;
					width: 18px;
					height: 16px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel .contentBody .contentBodyRight .rightThick {
					position: relative;
					width: 18px;
					height: 32%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel .contentBody .contentBodyRight .rightBottom {
					position: relative;
					width: 18px;
					height: 13px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightBot.svg');
					background-repeat: no-repeat;
				}
	
		#contentPanel .contentBottom {
			position: absolute;
			top: auto;
			bottom: 2px;
			width: auto;
			left: 0px;
			right: 0px;
		}
		
			#contentPanel .contentBottom .contentBotLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel .contentBottom .contentBotLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel .contentBottom .contentBotMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 13px;
				margin-left: 38px;
				margin-right: 37px;
				background-image: url('../interfaceImages/contentPanelBot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel .contentBottom .contentBotRightInner {
				position: absolute;
				top: 0px;
				right: 18px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel .contentBottom .contentBotRight {
				position: absolute;
				top: 0px;
				right: 0px;
				height: 13px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelBotRight.svg');
				background-repeat: no-repeat;
			}
	
	/* End Content Area Selctors */
			
	/* Begin Logo Selctor */
	#logo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 145px;
		width: 169px;
		z-index: 1
	}
	
	#printLogo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 169px;
		z-index: -1;
	}
	
	#printBanner {
		position: absolute;
		font-family: var(--fonts);
		color: #333333;
		margin-top: 0px;
		font-size: 10%;
		text-align: left;
		line-height: 1em;
		top: 5px;
		left: 170px;
		height: 4em;
		width: 10em;
		z-index: -1;
	}
	
	#printLogoCover {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 620px;
		background-color: #333333;
		z-index: 0;
	}
	/* End Logo Selctors */
		
	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		position: absolute;
		height: 45px;
		width: auto;
		z-index: 1;
		margin: 0px;
		top: 5px;
		left: 185px;
		right: 5px;
	}
		#selectedBar TOPIC-BAR .barTextSlot { 
			float: left;
		}

		#selectedBar TOPIC-BAR .selSubTopics { 
			float: left;
		}

		#selectedBar TOPIC-BAR .selSubTopics SUB-TOPIC { 
			float: left;
			position: relative;
		}

		#selectedBar TOPIC-BAR .selSubTopics SUB-TOPIC + SUB-TOPIC {
			margin: 0px 0px 0px -9px;
		}

		#selectedBar .subTopics MENU {
			float: left;
			padding: 0px 55px 0px 0px;
			margin: 2px 0px 0px 0px;
		}

			#selectedBar .subTopics MENU LI {
				float: left;
				position: relative;
				height: 18px;
			}

			#selectedBar .subTopics MENU LI + LI {
				margin: 0px 0px 0px -7px;
			}

				#selectedBar .subTopics MENU LI SUB-TOPIC {
					position: relative;
					float: left;
				}

				#selectedBar .subTopics MENU LI SUB-TOPIC.staged {
					opacity: 0;
				}

	/* End Selected Topic Bar Selctors */
	
	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		position: absolute;
		top: 160px;
		left: 3px;
		height: auto;
		width: 176px;
	}
	
		#unSelectedBarArea MENU LI {
			height: 45px;
		}
					
	/* End UnSelected Topic Bar Selctors */
		
		
	.bodyText {
		color: #FFFFFF;
	}
	
	.photoRight {
		border: 1px solid #FFFFFF;
	}
	
	.photoLeft {
		border: 1px solid #FFFFFF;
	}
	
	.bodyText TABLE {
		color: #FFFFFF;
	}
	
	.bodyText TABLE .altRow {
		background-color: #CCCCCC;
	}

	.bodyText .breadCrumbCurrent {
		color: #FFFFFF;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}

		.bodyText .breadCrumbCurrent A:link, .bodyText .breadCrumbCurrent A:visited {
			color: #FFFFFF;
			text-decoration: none;
		}

		.bodyText .breadCrumbCurrent A:active, .bodyText .breadCrumbCurrent A:hover {
			color: #FFFF33; /* B22222; */
			text-decoration: none;
		}

	.bodyText .breadCrumbHist {
		color: #CCCCCC;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}

		.bodyText .breadCrumbHist A:link, .bodyText .breadCrumbHist A:visited {
			color: #CCCCCC;
			text-decoration: none;
		}

		.bodyText .breadCrumbHist A:active, .bodyText .breadCrumbHist A:hover {
			color: #FFFF33; /* B22222; */
			text-decoration: none;
		}
	/* End content formatting selectors */
}