@media screen {
	/* Begin Tag Level Selctors */
	BODY {
		background-color: #333333;
		overflow: hidden;
	}

	INPUT:focus, TEXTAREA:focus, SELECT:focus, INPUT.iefocus, TEXTAREA.iefocus, SELECT.iefocus {
		background-color: #999999; 
		border: 1px solid #666666;
	}

	H1 {
		margin-top: 0px;
		color: #FFFFFF;
		font-size: 130%;
	}
	
	H2 {
		color: #FFFFFF;
		font-size: 120%;
	}
	
	H3 {
		color: #FFFFFF;
		font-size: 110%;
	}
	
	H4 {
		color: #FFFFFF;
		font-size: 105%;
	}
	
	H5 {
		color: #FFFFFF;
		font-size: 100%;
	}
	/* End Tag Level Selctors */
	
	
    #backgroundBackLayer, #backgroundFrontLayer {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        overflow: hidden;
    }

    #backgroundFrontLayer {
        background-image: url('../svgImages/backgroundFrontLayer.svg'); 
    }

    #backgroundBackLayer {
        background-image: url('../svgImages/backgroundBackLayer.svg'); 
    }

	#mainContainer {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 0;
		overflow: hidden;
	}
	
	#loaderStatus {
		position: absolute;
		top: 0px;
		left: 0px;
		border: 1px #CCCCCC solid;
		padding: 4px;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size: 200%;
		font-weight: bold;
		color: #CCCCCC;
		z-index: 5;
	}
	
	#loaderDiv {
	  float: left;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	
	#cacheDiv {
		position: absolute;
		visibility: hidden;
		z-index: -5;
	}
	
	/* Begin Content Area Selctors */
	#contentPanel {
		position: absolute;
		top: 0px;
		height: 100%;
		left: 185px;
		right: 5px;
		z-index: 1;
	}
	
	/* this rule is skipped by IE - this is the PROPER way to draw that div! */
	#mainContainer > #contentPanel {
		top: 55px;
		bottom: 5px;
		height: auto;
	}
		
		#contentPanel #contentTop {
			position: relative;
			top: 55px;
			height: 15px;
			width: 100%;
		}
	
		/* this rule is skipped by IE - this is the PROPER way to draw that div! */
		#contentPanel > #contentTop {
			position: absolute;
			top: 0px;
			width: auto;
			left: 0px;
			right: 0px;
		}
				
			#contentPanel #contentTop #contentTopLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 15px;
				width: 19px;
				background-image: url('../svgImages/contentPanelTopLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel #contentTop #contentTopLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 15px;
				width: 19px;
				background-image: url('../svgImages/contentPanelTopLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentTop #contentTopMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 15px;
				margin-left: 38px;
				margin-right: 42px;
				background-image: url('../svgImages/contentPanelTop.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel #contentTop #contentTopRightInner {
				position: absolute;
				top: 0px;
				right: 24px;
				height: 15px;
				width: 18px;
				background-image: url('../svgImages/contentPanelTopRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentTop #contentTopRight {
				position: absolute;
				top: 0px;
				right: 6px;
				height: 15px;
				width: 18px;
				background-image: url('../svgImages/contentPanelTopRight.svg');
				background-repeat: no-repeat;
			}
			
		#contentPanel #contentBody {
			position: relative;
			top: 55px;
			height: 85%;
		}
	
		/* this rule is skipped by IE - this is the PROPER way to draw that div! */
		#contentPanel > #contentBody {
			position: absolute;
			top: 15px;
			bottom: 13px;
			height: auto;
			left: 0px;
			right: 0px;
		}
	
			#contentPanel #contentBody #contentBodyLeft {
				position: absolute;
				width: 19px;
				height: 100%;
				left: 0px;
				top: 0px;
				background-image: url('../svgImages/contentPanelLeftThin.svg');
				background-repeat: repeat-y;
			}
			
			/* this rule is skipped by IE - this is the PROPER way to draw that div! */
			#contentPanel #contentBody > #contentBodyLeft {
				position: absolute;
				height: auto;
				bottom: 2px;
			}
					
				#contentPanel #contentBody #contentBodyLeft #leftTop {
					position: relative;
					width: 19px;
					height: 11px;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelLeftTop.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftThick {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelLeftThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftTrans {
					position: relative;
					width: 19px;
					height: 15px;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelLeftTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftDouble {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelLeftDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftDoubleEnd {
					position: relative;
					width: 19px;
					height: 8px;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelLeftDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
			#contentPanel #contentBody #contentArea {
				position: relative;
				width: auto;
				height: 100%;
				margin-left: 19px;
				margin-right: 19px;
				background-image: url('../svgImages/contentPanelBody.svg');
			}
			
			/* this rule is skipped by IE - this is the PROPER way to draw that div! */
			#contentPanel #contentBody > #contentArea {
				position: absolute;
				width: auto;
				height: auto;
				margin: 0px;
				top: 0px;
				bottom: 2px;
				left: 19px;
				right: 18px;
			}
	
				#contentPanel #contentBody #contentArea #content {
					position: absolute;
					height: 100%;
					width: 100%;
					overflow: auto;
				}
			
			#contentPanel #contentBody #contentBodyRight {
				position: absolute;
				width: 18px;
				height: 100%;
				right: 0px;
				top: 0px;
				background-image: url('../svgImages/contentPanelRightThin.svg');
				background-repeat: repeat-y;
			}
		
				#contentPanel #contentBody #contentBodyRight #rightThin {
					position: relative;
					width: 18px;
					height: 20%;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelRightThin.svg');
					background-repeat: repeat-y;
				}
				
				#contentPanel #contentBody #contentBodyRight #rightDoubleEnd {
					position: relative;
					width: 18px;
					height: 7px;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelRightDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightDouble {
					position: relative;
					width: 18px;
					height: 40%;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelRightDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightTrans {
					position: relative;
					width: 18px;
					height: 16px;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelRightTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightThick {
					position: relative;
					width: 18px;
					height: 32%;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelRightThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightBottom {
					position: relative;
					width: 18px;
					height: 13px;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/contentPanelRightBot.svg');
					background-repeat: no-repeat;
				}
	
		#contentPanel #contentBottom {
			position: relative;
			top: 55px;
			height: 13px;
			width: 100%;
		}
	
		/* this rule is skipped by IE - this is the PROPER way to draw that div! */
		#contentPanel > #contentBottom {
			position: absolute;
			top: auto;
			bottom: 2px;
			width: auto;
			left: 0px;
			right: 0px;
		}
		
			#contentPanel #contentBottom #contentBotLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 13px;
				width: 19px;
				background-image: url('../svgImages/contentPanelBotLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel #contentBottom #contentBotLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 13px;
				width: 19px;
				background-image: url('../svgImages/contentPanelBotLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentBottom #contentBotMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 13px;
				margin-left: 38px;
				margin-right: 37px;
				background-image: url('../svgImages/contentPanelBot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel #contentBottom #contentBotRightInner {
				position: absolute;
				top: 0px;
				right: 18px;
				height: 13px;
				width: 19px;
				background-image: url('../svgImages/contentPanelBotRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentBottom #contentBotRight {
				position: absolute;
				top: 0px;
				right: 0px;
				height: 13px;
				width: 18px;
				background-image: url('../svgImages/contentPanelBotRight.svg');
				background-repeat: no-repeat;
			}
	
	/* Begin "hot" selectors - used in animations */
	#contentPanel.hot {
	}
		
		#contentPanel.hot #contentTop {
		}
				
			#contentPanel.hot #contentTop #contentTopLeft {
				background-image: url('../svgImages/contentPanelTopLeftHot.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel.hot #contentTop #contentTopLeftInner {
				background-image: url('../svgImages/contentPanelTopLeftInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentTop #contentTopMiddle {
				background-image: url('../svgImages/contentPanelTopHot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel.hot #contentTop #contentTopRightInner {
				background-image: url('../svgImages/contentPanelTopRightInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentTop #contentTopRight {
				background-image: url('../svgImages/contentPanelTopRightHot.svg');
				background-repeat: no-repeat;
			}
			
		#contentPanel.hot #contentBody {
		}
	
			#contentPanel.hot #contentBody #contentBodyLeft {
				background-image: url('../svgImages/contentPanelLeftThinHot.svg');
				background-repeat: repeat-y;
			}
			
				#contentPanel.hot #contentBody #contentBodyLeft #leftTop {
					background-image: url('../svgImages/contentPanelLeftTopHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftThick {
					background-image: url('../svgImages/contentPanelLeftThickHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftTrans {
					background-image: url('../svgImages/contentPanelLeftTransHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftDouble {
					background-image: url('../svgImages/contentPanelLeftDoubleHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftDoubleEnd {
					background-image: url('../svgImages/contentPanelLeftDoubleEndHot.svg');
					background-repeat: no-repeat;
				}
	
			#contentPanel.hot #contentBody #contentArea {
				background-image: url('../svgImages/contentPanelBodyHot.svg');
			}
			
				#contentPanel.hot #contentBody #contentArea #content {
				}
			
			#contentPanel.hot #contentBody #contentBodyRight {
				background-image: url('../svgImages/contentPanelRightThinHot.svg');
				background-repeat: repeat-y;
			}
		
				#contentPanel.hot #contentBody #contentBodyRight #rightThin {
					background-image: url('../svgImages/contentPanelRightThinHot.svg');
					background-repeat: repeat-y;
				}
				
				#contentPanel.hot #contentBody #contentBodyRight #rightDoubleEnd {
					background-image: url('../svgImages/contentPanelRightDoubleEndHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightDouble {
					background-image: url('../svgImages/contentPanelRightDoubleHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightTrans {
					background-image: url('../svgImages/contentPanelRightTransHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightThick {
					background-image: url('../svgImages/contentPanelRightThickHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightBottom {
					background-image: url('../svgImages/contentPanelRightBotHot.svg');
					background-repeat: no-repeat;
				}
	
		#contentPanel.hot #contentBottom {
		}
		
			#contentPanel.hot #contentBottom #contentBotLeft {
				background-image: url('../svgImages/contentPanelBotLeftHot.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel.hot #contentBottom #contentBotLeftInner {
				background-image: url('../svgImages/contentPanelBotLeftInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentBottom #contentBotMiddle {
				background-image: url('../svgImages/contentPanelBotHot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel.hot #contentBottom #contentBotRightInner {
				background-image: url('../svgImages/contentPanelBotRightInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentBottom #contentBotRight {
				background-image: url('../svgImages/contentPanelBotRightHot.svg');
				background-repeat: no-repeat;
			}
			
	/* End "hot" selectors - used in animations */
	/* End Content Area Selctors */
			
	/* Begin Logo Selctor */
	#logo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 145px;
		width: 169px;
		z-index: 1
	}
	
	#printLogo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 169px;
		z-index: -1;
	}
	
	#printBanner {
		position: absolute;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		color: #333333;
		margin-top: 0px;
		font-size: 10%;
		text-align: left;
		line-height: 1em;
		top: 5px;
		left: 170px;
		height: 4em;
		width: 10em;
		z-index: -1;
	}
	
	#printLogoCover {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 620px;
		background-color: #333333;
		z-index: 0;
	}
	/* End Logo Selctors */
		
	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		position: relative;
		top: 5px;
		margin-left: 185px;
		margin-right: 3px;
		height: 45px;
		z-index: 2;
	}
	
	/* this rule is skipped by IE - this is the PROPER way to draw that div! */
	#mainContainer > #selectedBar {
		position: absolute;
		margin: 0px;
		width: auto;
		left: 185px;
		right: 5px;
	}
	/* End Selected Topic Bar Selctors */
	
	.selectedBar {
		position: absolute;
		top: 5px;
		left: 185px;
		right: 3px;
		margin: 0px;
		height: 45px;
		width: auto;
		z-index: 2;
	}
	
	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		position: absolute;
		top: 160px;
		left: 3px;
		height: auto;
		width: 176px;
	}
	
	.unSelectedBar {
		position: absolute;
		top: 160px;
		left: 3px;
		height: auto;
		width: 176px;
	}
	/* End UnSelected Topic Bar Selctors */
	
	/* Begin Topic Bar ID Selctors */
	#topicBar1, #topicBar2, #topicBar3, #topicBar4, #topicBar5, #topicBar6 {
		position: relative;
		height: 48px;
	}
	/* End Topic Bar ID Selctors */
	
	/* Begin SubMenu Selctors */
	#subMenu {
		position: absolute;
		right: 32px;
		top: 29px;
		width: 235px;
		z-index: 2;
	}
	
		#subMenu #nub {
			position: relative;
			height: 17px;
		}
	
			#subMenu #nub #nubLeft {
				position: absolute;
				height: 17px;
				width: 16px;
				left: 0px;
				top: 0px;
				background-image: url('../svgImages/subMenuNubLeft.svg');
				background-repeat: no-repeat;
			}
	
			#subMenu #nub #nubBody {
				position: relative;
				height: 17px;
				margin-left: 16px;
				margin-right: 16px;
				background-color: #486053;
				font-family: Arial, Verdana, Helvetica, sans-serif;
				font-weight: bold;
				font-size: 68%;
				color: #FFFFFF;
			}
	
			#subMenu #nub #nubRight {
				position: absolute;
				height: 17px;
				width: 16px;
				right: 0px;
				top: 0px;
				background-image: url('../svgImages/subMenuNubRight.svg');
				background-repeat: no-repeat;
			}
	
		#subMenu #subPulldown {
			position: relative;
			height: auto;
			width: auto;
			z-index: -1;
		}
		
			#subMenu #subPulldown #subBody {
				position: relative;
				margin-right: 16px;
				padding-left: 2px;
				padding-right: 2px;
				border-bottom: 1px solid  #486053;
				background-color: #486053;
			}
		
				#subMenu #subPulldown #subBody .subMenuItem {
					position: relative;
					margin-bottom: 2px;
					padding: 1px;
					background-color: #6C7B6D;
					font-family: Arial, Verdana, Helvetica, sans-serif;
					font-weight: bold;
					font-size: 73%;
					color: #FFFFFF;
				}
				
				#subMenu #subPulldown #subBody .subMenuItem A:link, #subMenu #subPulldown #subBody .subMenuItem A:visited {
					text-decoration: none;
					color: #FFFFFF;
				}
				
				#subMenu #subPulldown #subBody .subMenuItem:hover {
					background-color: #999966;
				}
								
			#subMenu #subPulldown #subBottom {
				position: relative;
				height: 18px;
				bottom: 1px;
				margin-right: 16px;
			}
		
				#subMenu #subPulldown #subBottom #subBotLeft {
					position: absolute;
					height: 18px;
					width: 18px;
					left: 0px;
					top: 0px;
					background-image: url('../svgImages/subMenuBotLeft.svg');
					background-repeat: no-repeat;
				}
		
				#subMenu #subPulldown #subBottom #subBotMiddle {
					position: relative;
					height: 18px;
					margin-left: 18px;
					margin-right: 18px;
					background-color: #486053;
				}
		
				#subMenu #subPulldown #subBottom #subBotRight {
					position: absolute;
					height: 18px;
					width: 18px;
					right: 0px;
					top: 0px;
					background-image: url('../svgImages/subMenuBotRight.svg');
					background-repeat: no-repeat;
				}	
	
	/* Begin "hot" selectors - used in animations */
	#subMenu.hot {
	}
	
		#subMenu.hot #nub {
		}
	
			#subMenu.hot #nub #nubLeft {
				background-image: url('../svgImages/subMenuNubLeftHot.svg');
				background-repeat: no-repeat;
			}
	
			#subMenu.hot #nub #nubBody {
				background-color: #93AB9E;
			}
	
			#subMenu.hot #nub #nubRight  {
				background-image: url('../svgImages/subMenuNubRightHot.svg');
				background-repeat: no-repeat;
			}
	
		#subMenu.hot #subPulldown {
		}
		
			#subMenu.hot #subPulldown #subBody {
				border-bottom: 1px solid  #93AB9E;
				background-color: #93AB9E;
			}
		
				#subMenu.hot #subPulldown #subBody .subMenuItem  {
					background-color: #B7C6B8;
				}
				
			#subMenu.hot #subPulldown #subBottom {
			}
		
				#subMenu.hot #subPulldown #subBottom #subBotLeft {
					background-image: url('../svgImages/subMenuBotLeftHot.svg');
					background-repeat: no-repeat;
				}
		
				#subMenu.hot #subPulldown #subBottom #subBotMiddle {
					background-color: #93AB9E;
				}
		
				#subMenu.hot #subPulldown #subBottom #subBotRight {
					background-image: url('../svgImages/subMenuBotRightHot.svg');
					background-repeat: no-repeat;
				}	
	/* End "hot" selectors - used in animations */
	
	/* End SubMenu Selctors */
			
	/* Begin Topic Bar Class Selctors */
	.topicBar {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	
		.topicBarTop {
			position: relative;
			width: 100%;
		}
	
			.topicBarTop .topicBarTopLeft {
				position: absolute;
				height: 13px;
				width: 13px;
				left: 0px;
				top: 0px;
				background-image: url('../svgImages/barLeftTop.svg');
				background-repeat: no-repeat;
			}
		
			.topicBarTop .topicBarTopMiddle {
				position: relative;
				left: 0px;
				height: 2px;
				width: auto;
				margin-left: 13px;
				margin-right: 10px;
				background-color: #51606E;
			}
		
			.topicBarTop .topicBarTopRight {
				position: absolute;
				height: 10px;
				width: 10px;
				right: 0px;
				top: 0px;
				background-image: url('../svgImages/barRightTop.svg');
				background-repeat: no-repeat;
			}
					
		.topicBarBody {
			position: relative;
			width: 100%;
			height: 1.5em;
		}
	
			.topicBarBody .topicBarBodyLeft {
				position: absolute;
				width: 13px;
				height: .8em;
				left: 0px;
				top: 11px;
				background-image: url('../svgImages/barBody.svg');
				border-left: 2px solid #51606E;
			}
		
			.topicBarBody .topicBarBodyMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 1.5em;
				margin-left: 13px;
				margin-right: 10px;
				background-image: url('../svgImages/barBody.svg');
			}
	
				.topicBarBody .topicBarBodyMiddle .barText {
					position: relative;
					font-family: Arial, Verdana, Helvetica, sans-serif;
					font-size: 95%;
					font-weight: bold;
					color: #8EF000;
					line-height: 1.45em;
					float: left;
					padding-right: 5px;
				}			
			
				.topicBarBody .topicBarBodyMiddle .barText A:link, .topicBarBody .topicBarBodyMiddle .barText A:visited {
					color: #8EF000;
					text-decoration: none;
				}			
	
				.topicBarBody .topicBarBodyMiddle .barText>A:link {
					color: inherit;
					text-decoration: none;
				}	
							
				.topicBarBody .topicBarBodyMiddle .barText A:hover, .topicBarBody .topicBarBodyMiddle .barText A:active {
					color: #FFFFFF;
					text-decoration: none;
				}			
			
			.topicBarBody .topicBarBodyRight {
				position: absolute;
				width: 9px;
				height: .50em;
				right: 0px;
				top: 8px;
				background-image: url('../svgImages/barBody.svg');
				border-right: 2px solid #51606E;
			}
				
		.topicBarBottom {
			position: relative;
			width: 100%;
		}
		
			.topicBarBottom .topicBarBottomLeft {
				position: absolute;
				left: 0px;
				top: 0px;
				height: 16px;
				width: 14px;
				background-image: url('../svgImages/barLeftBot.svg');
				background-repeat: no-repeat;
			}
	
			.topicBarBottom .drop {
				position: absolute;
				left: 14px;
				top: 0px;
				height: 14px;
				width: 60px;
				background-image: url('../svgImages/barBody.svg');
			}
			
			.topicBarBottom .dropBottom {
				position: absolute;
				left: 14px;
				top: 14px;
				height: 2px;
				width: 60px;
				background-color: #51606E;
			}
	
			.topicBarBottom .dropTrans {
				position: absolute;
				left: 74px;
				top: 0px;
				height: 16px;
				width: 14px;
				background-image: url('../svgImages/barBotDropRight.svg');
				background-repeat: no-repeat;
			}
								
			.topicBarBottom .extender {
				position: relative;
				left: 0px;
				width: auto;
				height: 2px;
				margin-left: 87px;
				margin-right: 10px;
				background-color: #51606E;
			}
		
			.topicBarBottom .topicBarBottomRight {
				position: absolute;
				width: 10px;
				height: 10px;
				right: 0px;
				top: -8px;
				background-image: url('../svgImages/barRightBot.svg');
				background-repeat: no-repeat;
			}
	
	/* Begin hover selectors for topicBar */		
	.topicBar:hover {
	}
	
		.topicBar:hover .topicBarTop {
		}
	
			.topicBar:hover .topicBarTop .topicBarTopLeft {
				background-image: url('../svgImages/barLeftTopSel.svg');
			}
		
			.topicBar:hover .topicBarTop .topicBarTopMiddle {
				background-color: #6E5F51;
			}
		
			.topicBar:hover .topicBarTop .topicBarTopRight {
				background-image: url('../svgImages/barRightTopSel.svg');
			}
					
		.topicBar:hover .topicBarBody {
		}
	
			.topicBar:hover .topicBarBody .topicBarBodyLeft {
				background-image: url('../svgImages/barBodySel.svg');
				border-left: 2px solid #6E5F51;
			}
		
			.topicBar:hover .topicBarBody .topicBarBodyMiddle {
				background-image: url('../svgImages/barBodySel.svg');
			}
	
				.topicBar:hover .topicBarBody .topicBarBodyMiddle .barText {
					color: #FFFFFF;
				}			
			
			.topicBar:hover .topicBarBody .topicBarBodyRight {
				background-image: url('../svgImages/barBodySel.svg');
				border-right: 2px solid #6E5F51;
			}
				
		.topicBar:hover .topicBarBottom {
		}
		
			.topicBar:hover .topicBarBottom .topicBarBottomLeft {
				background-image: url('../svgImages/barLeftBotSel.svg');
			}
	
			.topicBar:hover .topicBarBottom .drop {
				background-image: url('../svgImages/barBodySel.svg');
			}
			
			.topicBar:hover .topicBarBottom .dropBottom {
				background-color: #6E5F51;
			}
	
			.topicBar:hover .topicBarBottom .dropTrans {
				background-image: url('../svgImages/barBotDropRightSel.svg');
			}
								
			.topicBar:hover .topicBarBottom .extender {
				background-color: #6E5F51;
			}
		
			.topicBar:hover .topicBarBottom .topicBarBottomRight {
				background-image: url('../svgImages/barRightBotSel.svg');
			}			
	/* End hover selectors for topicBar */		
	
	/* Begin "hot" selectors - used in animations */
	.topicBarHot {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	
		.topicBarHot .topicBarTop {
		}
	
			.topicBarHot .topicBarTop .topicBarTopLeft {
				background-image: url('../svgImages/barLeftTopHot.svg');
				background-repeat: no-repeat;
			}
		
			.topicBarHot .topicBarTop .topicBarTopMiddle {
				background-color: #9CABB9;
			}
		
			.topicBarHot .topicBarTop .topicBarTopRight {
				background-image: url('../svgImages/barRightTopHot.svg');
				background-repeat: no-repeat;
			}
					
		.topicBarHot .topicBarBody {
		}
	
			.topicBarHot .topicBarBody .topicBarBodyLeft {
				background-image: url('../svgImages/barBodyHot.svg');
				border-left: 2px solid #9CABB9;
			}
		
			.topicBarHot .topicBarBody .topicBarBodyMiddle {
				background-image: url('../svgImages/barBodyHot.svg');
			}
	
			.topicBarHot .topicBarBody .topicBarBodyRight {
				background-image: url('../svgImages/barBodyHot.svg');
				border-right: 2px solid #9CABB9;
			}
				
		.topicBarHot .topicBarBottom {
		}
		
			.topicBarHot .topicBarBottom .topicBarBottomLeft {
				background-image: url('../svgImages/barLeftBotHot.svg');
				background-repeat: no-repeat;
			}
	
			.topicBarHot .topicBarBottom .drop {
				background-image: url('../svgImages/barBodyHot.svg');
			}
			
			.topicBarHot .topicBarBottom .dropBottom {
				background-color: #9CABB9;
			}
	
			.topicBarHot .topicBarBottom .dropTrans {
				background-image: url('../svgImages/barBotDropRightHot.svg');
				background-repeat: no-repeat;
			}
								
			.topicBarHot .topicBarBottom .extender {
				background-color: #9CABB9;
			}
		
			.topicBarHot .topicBarBottom .topicBarBottomRight {
				background-image: url('../svgImages/barRightBotHot.svg');
				background-repeat: no-repeat;
			}
	/* End "hot" selectors - used in animations */
	/* End Topic Bar Class Selctors */
	
	/* Begin SubTopic Class Selectors */
	.subTopic {
		position: relative;
		height: 24px;
		width: auto;
		white-space: nowrap;
		float: left;
	}
	
		.subTopicLeft {
			position: absolute;
			width: 13px;
			height: 24px;
			left: -5px;
			top: 0px;
			background-image: url('../svgImages/subTopicLeft.svg');
			background-repeat: no-repeat;
		}
	
		.subTopicBody {
			position: relative;
			height: 24px;
			width: 1%;
			margin-left: 8px;
			margin-right: 8px;
			font-family: Arial, Verdana, Helvetica, sans-serif;
			font-size: 95%;
			font-weight: bold;
			color: #8EF000;
			line-height: 1.45em;
			padding: 0px 0px 0px 0px;
			background-image: url('../svgImages/subTopicBody.svg');			
		}
		
		/* IE Forces yet another CSS trick to fix it */
		.subTopic > .subTopicBody {
			width: auto;
		}	
		
		.subTopicBody A:link, .subTopicBody A:visited {
			color: #8EF000;
			text-decoration: none;
		}			
		
		.subTopicBody A:hover, .subTopicBody A:active {
			color: #FFFFFF;
			text-decoration: none;
		}		
	
		.subTopicRight {
			position: absolute;
			width: 13px;
			height: 24px;
			right: -5px;
			top: 0px;
			background-image: url('../svgImages/subTopicRight.svg');
			background-repeat: no-repeat;
		}
				
	.subTopic:hover {
	}
	
		.subTopic:hover .subTopicLeft {
			background-image: url('../svgImages/subTopicLeftSel.svg');
			background-repeat: no-repeat;
		}
	
		.subTopic:hover .subTopicBody {
			background-image: url('../svgImages/subTopicBodySel.svg');		
		}
		
		.subTopic:hover .subTopicBody A:link, .subTopic:hover .subTopicBody A:visited {
			color: #8EF000;
			text-decoration: none;
		}			
		
		.subTopic:hover .subTopicRight {
			background-image: url('../svgImages/subTopicRightSel.svg');
			background-repeat: no-repeat;
		}
	
	/* Begin "hot" selectors - used in animations */
	.subTopicHot {
		position: relative;
		height: 24px;
		width: auto;
		white-space: nowrap;
		float: left;
	}
	
		.subTopicHot .subTopicLeft {
			background-image: url('../svgImages/subTopicLeftHot.svg');
			background-repeat: no-repeat;
		}
	
		.subTopicHot .subTopicBody {
			color: #8EF000;
			background-image: url('../svgImages/subTopicBodyHot.svg');		
		}
		
		/* IE Forces yet another CSS trick to fix it */
		.subTopicHot>.subTopicBody {
			width: auto;
		}	
		
		.subTopicHot .subTopicBody A:link, .subTopicHot .subTopicBody A:visited {
			color: #8EF000;
			text-decoration: none;
		}			
	
		.subTopicHot .subTopicRight {
			background-image: url('../svgImages/subTopicRightHot.svg');
			background-repeat: no-repeat;
		}
	/* End "hot" selectors - used in animations */
	/* End SubTopic Class Selectors */
		
	
	/* Begin content formatting selectors */
	#subMenuGapper {
		position: relative;
		float: right;
		width: 18em;
		height: 12em;
		clear: both;
	}
	
	.bodyText {
		font-size: 83%;
		color: #FFFFFF;
	}
	
	.photoRight {
		border: 1px solid #FFFFFF;
	}
	
	.photoLeft {
		border: 1px solid #FFFFFF;
	}
	
	.bodyText TABLE {
		color: #FFFFFF;
	}
	
	.bodyText TABLE .altRow {
		background-color: #CCCCCC;
	}
	
	.breadCrumbCurrent {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 68%;
		color: #FFFFFF;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}
	
	.breadCrumbCurrent A:link, .breadCrumbCurrent A:visited {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.breadCrumbCurrent A:active, .breadCrumbCurrent A:hover {
		color: #FFFF33; /* B22222; */
		text-decoration: none;
	}
	
	.breadCrumbHist {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 68%;
		color: #CCCCCC;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}
	
	.breadCrumbHist A:link, .breadCrumbHist A:visited {
		color: #CCCCCC;
		text-decoration: none;
	}
	
	.breadCrumbHist A:active, .breadCrumbHist A:hover {
		color: #FFFF33; /* B22222; */
		text-decoration: none;
	}s
	
	/* End content formatting selectors */
}