@media print { 
	/* Begin Tag Level Selctors */
	BODY {
		background-color : #FFFFFF;
	}
	
	HR {
		color : var(--color-link-green);
	}

	FIELDSET {
		border : 1px solid #000000;
	}
	
	LEGEND {
		color : #000000; 
	}

	INPUT, TEXTAREA, SELECT {
		border : 1px solid #000000;
	}
	
	H1 {
		color : #000000;
		font-size : 16pt;
	}
	
	H2 {
		color : #000000;
		font-size : 14pt;
	}
	
	H3 {
		color : #000000;
		font-size : 12pt;
	}
	
	H4 {
		color : #000000;
		font-size : 11pt;
	}
	
	H5 {
		color : #000000;
		font-size : 10pt;
	}
	/* End Tag Level Selctors */
	
	#mainContainer {
		position : static;
		width : auto;
		height : auto;
	}
	
	/* Begin Content Area Selctors */
	#contentPanel {
		position : static;
		width : auto;
		height : auto;
	}
	
	#contentPanel #contentTop {
		display : none;
		visibility : hidden;
	}

	#contentPanel #contentBody #contentBodyLeft {
		display : none;
		visibility : hidden;
	}
	
	#contentArea {
		position : static;
		width : auto;
		height : auto;
	}
	
	#content {
		position : static;
		top : 70px;
		width : auto;
		height : auto;
		clear : both;		
	}
	
	#contentPanel #contentBody #contentBodyRight {
		display : none;
		visibility : hidden;
	}

	#contentPanel #contentBottom {
		display : none;
		visibility : hidden;
	}
	/* End Content Area Selctors */
			
	/* Begin Logo Selctors */
	#logo {
		display : none;
		visibility : hidden;
	}

	#printLogo {
		position : relative;
		float : left;
		top : 0px;
		left : 0px;
		height : 160px;
		width : 169px;
	}
	
	#printBanner {
		position : absolute;
		top : 0px;
		left : 175px;
		width : 495px;
		font-family : var(--fonts);
		color : #000000;
		font-size : 16pt;
		font-weight : bold;
	}

	#printLogoCover {
		display : none;
		visibility : hidden;
	}
	/* End Logo Selctors */

	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		display : none;
		visibility : hidden;
	}
	
	.unSelectedBar {
		display : none;
		visibility : hidden;
	}
	/* End UnSelected Topic Bar Selctors */

	/* Begin SubMenu Selctors */
	#subMenu {
		display : none;
		visibility : hidden;
	}
	/* End SubMenu Selctors */

	/* Begin Topic Bar Class Selctors */
	.topicBar {
		position : relative;
		float : left;
		top : 45px;
	}
	
		.topicBarTop {
			display : none;
			visibility : hidden;
		}
					
		.topicBarBody .topicBarBodyLeft {
			display : none;
			visibility : hidden;
		}

		.topicBarBody .topicBarBodyMiddle {
			position : relative;
			float : left;
		}		

		.topicBarBody .topicBarBodyMiddle .barText {
			position : relative;
			font-family : var(--fonts);
			font-weight : bold;
			font-size : 12pt;
			color : #000000;
			float : left;
		}		

		.topicBarBody .topicBarBodyRight {
			display : none;
			visibility : hidden;
		}
			
	.topicBarBottom {
		display : none;
		visibility : hidden;
	}
	/* End Topic Bar Class Selctors */
	
	/* Begin SubTopic Class Selectors */
	.subTopic {
		position : relative;
		float : left;
		margin : 0px 5px 0px 5px;
	}
	
		.subTopicLeft {
			display : none;
			visibility : hidden;
		}
	
		.subTopicBody {
			position : relative;
			top : 45px;
			white-space : nowrap;
			font-family : var(--fonts);
			font-weight : bold;
			font-size : 12pt;
			color : #000000;
		}
		
		.subTopicBody A:link, .subTopicBody A:visited {
			color : #000000;
			text-decoration : none;
		}			
		
		.subTopicBody A:hover, .subTopicBody A:active {
			color : #000000;
			text-decoration : none;
		}		
	
		.subTopicRight {
			display : none;
			visibility : hidden;
		}

	/* End SubTopic Class Selectors */
	
	/* Begin content formatting selectors */
	#subMenuGapper {
		display : none;
		visibility : hidden;
	}
	
	.bodyText {
		font-size : 10pt;
		color : #000000;
	}
	
	.photoRight {
		border : 1px solid #000000;
	}
	
	.photoLeft {
		border : 1px solid #000000;
	}
	
	.bodyText TABLE {
		color : #000000;
	}
	
	.bodyText TABLE TH {
		color : #000000;
	}
	
	.breadCrumbCurrent {
		display : none;
		visibility : hidden;
	}
	
	.breadCrumbHist {
		display : none;
		visibility : hidden;
	}
	/* End content formatting selectors */
	
}
