@media screen {
	/* Begin Tag Level Selctors */
	BODY {
		background-color: #333333;
		overflow: hidden;
	}

	INPUT:focus, TEXTAREA:focus, SELECT:focus, INPUT.iefocus, TEXTAREA.iefocus, SELECT.iefocus {
		background-color: #999999; 
		border: 1px solid #666666;
	}

	H1 {
		margin-top: 0px;
		color: #FFFFFF;
		font-size: 130%;
	}
	
	H2 {
		color: #FFFFFF;
		font-size: 120%;
	}
	
	H3 {
		color: #FFFFFF;
		font-size: 110%;
	}
	
	H4 {
		color: #FFFFFF;
		font-size: 105%;
	}
	
	H5 {
		color: #FFFFFF;
		font-size: 100%;
	}
	/* End Tag Level Selctors */
	
	
    #backgroundBackLayer, #backgroundFrontLayer {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        overflow: hidden;
    }

    #backgroundFrontLayer {
        background-image: url('../interfaceImages/backgroundFrontLayer.svg'); 
    }

    #backgroundBackLayer {
        background-image: url('../interfaceImages/backgroundBackLayer.svg'); 
    }

	#mainContainer {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 0;
		overflow: hidden;
	}
			
	/* Begin Content Area Selctors */
	#contentPanel {
		position: absolute;
		height: auto;
		top: 75px;
		right: 5px;
		bottom: 5px;
		left: 185px;
		z-index: 1;
	}
			
		/* this rule is skipped by IE - this is the PROPER way to draw that div! */
		#contentPanel #contentTop {
			position: absolute;
			top: 0px;
			height: 15px;
			width: auto;
			left: 0px;
			right: 0px;
		}
				
			#contentPanel #contentTop #contentTopLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 15px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelTopLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel #contentTop #contentTopLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 15px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelTopLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentTop #contentTopMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 15px;
				margin-left: 38px;
				margin-right: 42px;
				background-image: url('../interfaceImages/contentPanelTop.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel #contentTop #contentTopRightInner {
				position: absolute;
				top: 0px;
				right: 24px;
				height: 15px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelTopRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentTop #contentTopRight {
				position: absolute;
				top: 0px;
				right: 6px;
				height: 15px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelTopRight.svg');
				background-repeat: no-repeat;
			}
			
		#contentPanel #contentBody {
			position: absolute;
			top: 15px;
			bottom: 13px;
			height: auto;
			left: 0px;
			right: 0px;
		}
	
			#contentPanel #contentBody #contentBodyLeft {
				position: absolute;
				width: 19px;
				height: auto;
				left: 0px;
				top: 0px;
				bottom: 2px;
				background-image: url('../interfaceImages/contentPanelLeftThin.svg');
				background-repeat: repeat-y;
			}
								
				#contentPanel #contentBody #contentBodyLeft #leftTop {
					position: relative;
					width: 19px;
					height: 11px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftTop.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftThick {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftTrans {
					position: relative;
					width: 19px;
					height: 15px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftDouble {
					position: relative;
					width: 19px;
					height: 33%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyLeft #leftDoubleEnd {
					position: relative;
					width: 19px;
					height: 8px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelLeftDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
			#contentPanel #contentBody #contentArea {
				position: absolute;
				width: auto;
				height: auto;
				margin: 0px;
				top: 0px;
				bottom: 2px;
				left: 19px;
				right: 18px;
				background-image: url('../interfaceImages/contentPanelBody.svg');
			}
				
				#contentPanel #contentBody #contentArea #content {
					position: absolute;
					height: 100%;
					width: 100%;
					overflow: auto;
				}
			
			#contentPanel #contentBody #contentBodyRight {
				position: absolute;
				width: 18px;
				height: 100%;
				right: 0px;
				top: 0px;
				background-image: url('../interfaceImages/contentPanelRightThin.svg');
				background-repeat: repeat-y;
			}
		
				#contentPanel #contentBody #contentBodyRight #rightThin {
					position: relative;
					width: 18px;
					height: 20%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightThin.svg');
					background-repeat: repeat-y;
				}
				
				#contentPanel #contentBody #contentBodyRight #rightDoubleEnd {
					position: relative;
					width: 18px;
					height: 7px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightDoubleEnd.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightDouble {
					position: relative;
					width: 18px;
					height: 40%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightDouble.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightTrans {
					position: relative;
					width: 18px;
					height: 16px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightTrans.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightThick {
					position: relative;
					width: 18px;
					height: 32%;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightThick.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel #contentBody #contentBodyRight #rightBottom {
					position: relative;
					width: 18px;
					height: 13px;
					left: 0px;
					top: 0px;
					background-image: url('../interfaceImages/contentPanelRightBot.svg');
					background-repeat: no-repeat;
				}
	
		#contentPanel #contentBottom {
			position: absolute;
			top: auto;
			bottom: 2px;
			width: auto;
			left: 0px;
			right: 0px;
		}
		
			#contentPanel #contentBottom #contentBotLeft {
				position: absolute;
				top: 0px;
				left: 0px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotLeft.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel #contentBottom #contentBotLeftInner {
				position: absolute;
				top: 0px;
				left: 19px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotLeftInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentBottom #contentBotMiddle {
				position: relative;
				left: 0px;
				width: auto;
				height: 13px;
				margin-left: 38px;
				margin-right: 37px;
				background-image: url('../interfaceImages/contentPanelBot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel #contentBottom #contentBotRightInner {
				position: absolute;
				top: 0px;
				right: 18px;
				height: 13px;
				width: 19px;
				background-image: url('../interfaceImages/contentPanelBotRightInner.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel #contentBottom #contentBotRight {
				position: absolute;
				top: 0px;
				right: 0px;
				height: 13px;
				width: 18px;
				background-image: url('../interfaceImages/contentPanelBotRight.svg');
				background-repeat: no-repeat;
			}
	
	/* Begin "hot" selectors - used in animations */
	#contentPanel.hot {
	}
		
		#contentPanel.hot #contentTop {
		}
				
			#contentPanel.hot #contentTop #contentTopLeft {
				background-image: url('../interfaceImages/contentPanelTopLeftHot.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel.hot #contentTop #contentTopLeftInner {
				background-image: url('../interfaceImages/contentPanelTopLeftInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentTop #contentTopMiddle {
				background-image: url('../interfaceImages/contentPanelTopHot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel.hot #contentTop #contentTopRightInner {
				background-image: url('../interfaceImages/contentPanelTopRightInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentTop #contentTopRight {
				background-image: url('../interfaceImages/contentPanelTopRightHot.svg');
				background-repeat: no-repeat;
			}
			
		#contentPanel.hot #contentBody {
		}
	
			#contentPanel.hot #contentBody #contentBodyLeft {
				background-image: url('../interfaceImages/contentPanelLeftThinHot.svg');
				background-repeat: repeat-y;
			}
			
				#contentPanel.hot #contentBody #contentBodyLeft #leftTop {
					background-image: url('../interfaceImages/contentPanelLeftTopHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftThick {
					background-image: url('../interfaceImages/contentPanelLeftThickHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftTrans {
					background-image: url('../interfaceImages/contentPanelLeftTransHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftDouble {
					background-image: url('../interfaceImages/contentPanelLeftDoubleHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyLeft #leftDoubleEnd {
					background-image: url('../interfaceImages/contentPanelLeftDoubleEndHot.svg');
					background-repeat: no-repeat;
				}
	
			#contentPanel.hot #contentBody #contentArea {
				background-image: url('../interfaceImages/contentPanelBodyHot.svg');
			}
			
				#contentPanel.hot #contentBody #contentArea #content {
				}
			
			#contentPanel.hot #contentBody #contentBodyRight {
				background-image: url('../interfaceImages/contentPanelRightThinHot.svg');
				background-repeat: repeat-y;
			}
		
				#contentPanel.hot #contentBody #contentBodyRight #rightThin {
					background-image: url('../interfaceImages/contentPanelRightThinHot.svg');
					background-repeat: repeat-y;
				}
				
				#contentPanel.hot #contentBody #contentBodyRight #rightDoubleEnd {
					background-image: url('../interfaceImages/contentPanelRightDoubleEndHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightDouble {
					background-image: url('../interfaceImages/contentPanelRightDoubleHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightTrans {
					background-image: url('../interfaceImages/contentPanelRightTransHot.svg');
					background-repeat: no-repeat;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightThick {
					background-image: url('../interfaceImages/contentPanelRightThickHot.svg');
					background-repeat: repeat-y;
				}
	
				#contentPanel.hot #contentBody #contentBodyRight #rightBottom {
					background-image: url('../interfaceImages/contentPanelRightBotHot.svg');
					background-repeat: no-repeat;
				}
	
		#contentPanel.hot #contentBottom {
		}
		
			#contentPanel.hot #contentBottom #contentBotLeft {
				background-image: url('../interfaceImages/contentPanelBotLeftHot.svg');
				background-repeat: no-repeat;
			}
			
			#contentPanel.hot #contentBottom #contentBotLeftInner {
				background-image: url('../interfaceImages/contentPanelBotLeftInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentBottom #contentBotMiddle {
				background-image: url('../interfaceImages/contentPanelBotHot.svg');
				background-repeat: repeat-x;
			}
	
			#contentPanel.hot #contentBottom #contentBotRightInner {
				background-image: url('../interfaceImages/contentPanelBotRightInnerHot.svg');
				background-repeat: no-repeat;
			}
	
			#contentPanel.hot #contentBottom #contentBotRight {
				background-image: url('../interfaceImages/contentPanelBotRightHot.svg');
				background-repeat: no-repeat;
			}
			
	/* End "hot" selectors - used in animations */
	/* End Content Area Selctors */
			
	/* Begin Logo Selctor */
	#logo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 145px;
		width: 169px;
		z-index: 1
	}
	
	#printLogo {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 169px;
		z-index: -1;
	}
	
	#printBanner {
		position: absolute;
		font-family: var(--fonts);
		color: #333333;
		margin-top: 0px;
		font-size: 10%;
		text-align: left;
		line-height: 1em;
		top: 5px;
		left: 170px;
		height: 4em;
		width: 10em;
		z-index: -1;
	}
	
	#printLogoCover {
		position: absolute;
		top: 5px;
		left: 5px;
		height: 160px;
		width: 620px;
		background-color: #333333;
		z-index: 0;
	}
	/* End Logo Selctors */
		
	/* Begin Selected Topic Bar Selctors */
	#selectedBar {
		position: absolute;
		height: 45px;
		width: auto;
		z-index: 2;
		margin: 0px;
		top: 5px;
		left: 185px;
		right: 5px;
	}
	
		#selectedBar .selSubTopics SUB-TOPIC {
			float: left;
		}

		#selectedBar .selSubTopics SUB-TOPIC + SUB-TOPIC {
			float: left;
			margin: 0px 0px 0px -9px;
		}

		#selectedBar .subTopics MENU {
			float: left;
			padding: 0px 55px 0px 0px;
			margin: 2px 0px 0px 0px;
		}

			#selectedBar .subTopics MENU LI {
				float: left;
			}

			#selectedBar .subTopics MENU LI + LI {
				margin: 0px 0px 0px -7px;
			}

				#selectedBar .subTopics MENU LI SUB-TOPIC {
					float: left;
				}

	/* End Selected Topic Bar Selctors */
	
	/* Begin UnSelected Topic Bar Selctors */
	#unSelectedBarArea {
		position: absolute;
		top: 160px;
		left: 3px;
		height: auto;
		width: 176px;
	}
	
		#unSelectedBarArea MENU LI {
			height: 45px;
		}
					
	/* End UnSelected Topic Bar Selctors */
		
		
	.bodyText {
		font-size: 83%;
		color: #FFFFFF;
	}
	
	.photoRight {
		border: 1px solid #FFFFFF;
	}
	
	.photoLeft {
		border: 1px solid #FFFFFF;
	}
	
	.bodyText TABLE {
		color: #FFFFFF;
	}
	
	.bodyText TABLE .altRow {
		background-color: #CCCCCC;
	}
	
	.breadCrumbCurrent {
		font-family: Verdana, var(--fonts);
		font-size: 68%;
		color: #FFFFFF;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}
	
	.breadCrumbCurrent A:link, .breadCrumbCurrent A:visited {
		color: #FFFFFF;
		text-decoration: none;
	}
	
	.breadCrumbCurrent A:active, .breadCrumbCurrent A:hover {
		color: #FFFF33; /* B22222; */
		text-decoration: none;
	}
	
	.breadCrumbHist {
		font-family: Verdana, var(--fonts);
		font-size: 68%;
		color: #CCCCCC;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
	}
	
	.breadCrumbHist A:link, .breadCrumbHist A:visited {
		color: #CCCCCC;
		text-decoration: none;
	}
	
	.breadCrumbHist A:active, .breadCrumbHist A:hover {
		color: #FFFF33; /* B22222; */
		text-decoration: none;
	}s
	
	/* End content formatting selectors */
}